<!-- Define time -->
<%= f.input :time %>

<!-- Pick units -->

<div class="row text-center">
  <% @match.participants.each do |participant| %>
    <div class="col-xs-6">
      <%= participant.player.name %>
      <div class="form-group select optional event_unit" data-toggle="buttons">
        <% participant.race.units.each do |unit| %>
          <label class="btn">
            <%= image_tag unit.picture.url(:thumb) %>
            <input type="checkbox" name="event[units][<%=participant.player.id%>][]" class="form-control player_units" value="<%=unit.id%>" />
          </label>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="cursor_table">
      <tr>
        <td class="red"></td>
        <td class="red"></td>
        <td class="red"></td>
        <td class="red"></td>
        <td class="red"></td>
        <td class="blue"></td>
        <td class="blue"></td>
        <td class="blue"></td>
        <td class="blue"></td>
        <td class="blue"></td>
      </tr>
    </table>
    <div id="ratio">
      <%= f.input :ratio, as: :hidden, input_html: { name: "ratio" } %>
    </div>
  </div>
</div>
