<!-- Define time -->
<%= f.input :time %>

<!-- Pick player -->
<div class="container text-center">
  <div class="row">
    <% @match.participants.each do |participant| %>
      <div class="col-xs-6">
        <%= participant.player.name %>
        <div class="form-group select optional event_unit" data-toggle="buttons">
          <% participant.race.units.each do |unit| %>
            <label class="btn">
              <%= image_tag unit.picture.url(:thumb) %>
              <input type="checkbox" name="event[unit][<%=participant.player.id%>][]" class="form-control player_units" value="<%=unit.id%>" />
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>




<!-- Pick units -->


