<h1>Matches!</h1>

<% @matches.each do |match| %>
  <h3><%= link_to "#{match.name}", match_path(match) %></h3>
  <p>Duration: <%= match.end_time - match.start_time %></p>
  <p>Map: <%= match.map.name %></p>
  <p>Description: <%= match.description %></p>
  <% match.participants.each do |participant| %>
    <p><%= participant.name %> - <%= participant.race %> - <%= participant.winner %></p>
  <% end %>
<% end %>