<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @match.name %></h1>

      <% @match.participants.each do |p| %>
        <p>
          <%= p.player.name %> played <%= p.race.name %> and
          <%= "won" if p.winner %>
          <%= "lost" if p.winner == false %> the match.
        </p>
      <% end %>

      <p>
        <%= link_to "All matches", matches_path %> -
        <%= link_to "Edit match", edit_match_path(@match) %>
      </p>
    </div>
  </div>
</div>


