<div class="container">

<!-- boutons -->
  <div class="row buttons">
    <div class="col-xs-12 text-center">
      <%= link_to "All matches", matches_path, class: "btn btn-primary" %> -
      <%= link_to "Edit match", edit_match_path(@match), class: "btn btn-primary" %> -
      <%= link_to "Create event", new_match_event_path(@match), class: "btn btn-primary" %>
    </div>
  </div>


<div class="content">
  <!-- Nom des joueurs -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1><%= @match.name %></h1>
      </div>
    </div>

  <!-- teams -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="team1">
          <%= image_tag(@p1.player.picture.url, size: "100") %>
          <br>
          <%= @p1.player.name %> - <%= @p1.race.name %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="score">
          <% if @p1.winner %>
            <%= "Winner - Loser" %>
          <% elsif @p2.winner %>
            <%= "Loser - Winner" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="team2">
          <%= image_tag(@p2.player.picture.url, size: "100") %>
          <br>
          <%= @p2.player.name %> - <%= @p2.race.name %>
        </div>
      </div>
    </div>

  <!-- Timeline -->

  <div id="sc-timeline">
    <div class="row" name="player1">
      <div class="col-xs-1">
        <div id="p1"><%= @match.participants[0].player.name %></div>
      </div>
      <div class="col-xs-11">
        <% @match.events.each do |event| %>
          <% event.event_objects.each do |part_event| %>
            <% if part_event.participant == @match.participants[0] %>
              <%= image_tag("eco.jpg", id: "marked", style: "left:#{(event.time - @match.start_time) / (@match.end_time - @match.start_time) * 720 }px") if event.category == "economy" %>
              <%= image_tag("techno.png", id: "marked", style: "left:#{(event.time - @match.start_time) / (@match.end_time - @match.start_time) * 720 }px") if event.category == "technology" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="fight-content">
      <div class="row">
        <div class="col-xs-1">
          <div id="separating_line"></div>
        </div>
        <div class="col-xs-11">
          <div id="separating_line"></div>
          <% @match.events.each do |event| %>
            <%= image_tag("fight.jpg", id: "fight-tag", style: "left:#{(event.time - @match.start_time) / (@match.end_time - @match.start_time) * 720 }px") if event.category == "fight" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row" name="player2">
      <div class="col-xs-1">
        <div id="p2"><%= @match.participants[1].player.name %></div>
      </div>
      <div class="col-xs-11">
        <% @match.events.each do |event| %>
          <% event.event_objects.each do |part_event| %>
            <% if part_event.participant == @match.participants[1] %>
              <%= image_tag("eco.jpg", id: "marked", style: "left:#{(event.time - @match.start_time) / (@match.end_time - @match.start_time) * 720 }px") if event.category == "economy" %>
              <%= image_tag("techno.png", id: "marked", style: "left:#{(event.time - @match.start_time) / (@match.end_time - @match.start_time) * 720 }px") if event.category == "technology" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>





  <!-- Carte -->
    <div id="map-container">
      <div class="row">
        <div class="col-xs-12">
          <div id="map" style="clear: both">
            <%= image_tag(@match.map.picture.url, class: "match_pic") %>
            <% @match.events.each do |event| %>
              <%= image_tag("fight.jpg", id: "marked", style: "left:#{event.posX}px; top:#{event.posY}px") if event.category == "fight" %>
              <%= image_tag("eco.jpg", id: "marked", style: "left:#{event.posX}px; top:#{event.posY}px") if event.category == "economy" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

